




/*EYEGALAW UI*/
body{
    height: 100%;
    width: 100%;
}
.main_frame{
    top: 0%;
    left: 0%;
     height: 100%;
    width: 100%;
    position:fixed;
  z-index: 1000 !important;


    /*background-color:pink;   */
}
/*#myDivId{
    position:fixed;
    top:50%;
left:50%;
width:100%;   
height:100%;
background-color:red;
}
*/

/*box arrows*/
/*#arrow_down{
  top: 0;
  left: 0;
right: 0;
border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 50px solid;
}*/

#line_arrow_up{
  top: 15;
  left: 0;
right: 0;
/*border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 50px solid black;*/
   -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#prev_page{
  top: 15;
  left: 0;
/*border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 50px solid black;*/
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*#arrow_up{
  bottom: 0;
  left: 0;
right: 0;
border-left: 50px solid transparent;
  border-right: 50px solid transparent;  
  border-top: 50px solid;
}*/


#line_arrow_down{
  bottom: 15;
  left: 0;
right: 0;
/*border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-top: 50px solid black;*/

  /**/
 
}
/*#arrow_left{
    top: 0;
  left: 0;
  bottom: 0;
  border-right: 50px solid black;
  border-top: 50px solid transparent; 
  border-bottom: 50px solid transparent;
}
#arrow_right{
    top: 0;
  bottom: 0;
  right: 0;
  border-left: 50px solid black;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;

}*/
.arrows{
/*width:0;   
height:0;*/
margin: auto;

position:fixed;
/*background-color:red;*/
z-index: 1000 !important;
}

.line_arrows{
/*width:0;   
height:0;*/
margin: auto;

position:fixed;
/*background-color:red;*/
z-index: 1000 !important;


/**/
  border: 1px solid #000;
  border-width: 0 0 2px 2px;
  width: 50px;
  height: 50px;
  line-height: 0;
  font-size: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
    
}


/*#prev_page{
  top: 0;
  left: 0;*/
  /*right: 0;*/
/*border-right: 50px solid black;
  border-top: 50px solid transparent; 
  border-bottom: 50px solid transparent;*/
/*}*/


#gaze_up{
  top: 0;
  left: 0;
right: 0;
}
#gaze_down{
  bottom: 0;
  left: 0;
  right: 0;
}


.gaze_pads{
  /*width: 100px;*/
  width: 100%;
  height: 50px;
  background-color:red;
  position:fixed;
}
