body {
  background-image: url("http://www.examiner.com/images/blog/wysiwyg/image/paristink.jpg");
  background-repeat: no-repeat;
  background-color: #E9FFFB;
}

#pupilleft,
#pupilright,
#dogpupilleft,
#dogpupilright {
  position: relative;
  background: #000000;
  border-radius: 50%;
}

#eyeleft,
#eyeright,
#dogeyeleft,
#dogeyeright {
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 50%;
}

#pupilleft {
  width: 18px;
  height: 18px;
}

#eyeleft {
  width: 35px;
  height: 35px;
  left: 213px;
  top: 72px;
}

#pupilright{  
  width: 18px;
  height: 18px;
}

#eyeright {
  width: 35px;
  height: 35px;
  left: 268px;
  top: 75px;
}

#dogpupilleft {
  width: 14px;
  height: 14px;
}

#dogeyeleft
{
  width: 25px;
  height: 25px;  
  left: 175px; 
  top: 261px;
}

#dogpupilright{
  width: 14px;
  height: 14px;
}

#dogeyeright {
  width: 25px;
  height: 25px;
  left: 210px;
  top: 259px;
}